/* =Content
----------------------------------------------- */

.site {
	max-width: $responsive4;
	margin: 0 auto;
}

.site-main {
	width: 100%;
	margin: 0 auto;
	padding: 1em;

	@media only screen and (min-width: $responsive2) {
		padding: 2%;
	}
}

	.site-content {
		background: $light;
		margin-bottom: $vspacing;
		overflow: hidden;
		z-index: 1;
		position: relative;

		&:before,
		&:after {
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			right: 0;
			content: "";
			left: 0;
			display: block;
		}

		&:before {
			background: $budarkred;
		}

		&:after {
			background: $light;
			left: 28%;
		}
	}

	.content-area {
		width: 100%;
		background: $light;

		@media only screen and (min-width: $responsive3) {
			max-width: 72%;
			float: right;
		}
	}

	.widget-area {
		background: $budarkred;
		padding: 1em;

		@media only screen and (min-width: $responsive3) {
			max-width: 28%;
			float: left;
		}
	} // End of .widget-area

		.entry-header {
			overflow: hidden;
			margin-bottom: 1.5em;
		}
			
			.entry-title {
				float: left;
				margin: 0 0 0.25em;
				color: $budarkred;
				text-transform: uppercase;

				.entry-title-link,
				a {
					text-decoration: none;
					text-transform: uppercase;
				}
			} // End of .entry-title

			.entry-meta {
				font-size: $milli;
				clear: both;

				.entry-cats {
					
					a {
						text-decoration: none;

						@media all and (min-width: $responsive1) {
							color: white;
						}
					}

					@media all and (min-width: $responsive1) {
						padding: 0.4em;
						background-color: $budarkred;
						color: white;
						display: inline-block;
					}
				}

				.posted-on {

					a {
						text-decoration: none;

						@media all and (min-width: $responsive1) {
							color: $budarkgray;
						}
					}

					@media all and (min-width: $responsive1) {
						padding: 0.4em;
						background-color: $lightgray;
						display: inline-block;
					}
				}
			}

			.post-time-link {
				text-decoration: none;
				color: $budarkgray;
				font-weight: bold;
			}

	.sticky {
		max-width: 100% !important;
		margin: 0 1.5% 3% !important;

		.post-time-link {
			color: $budarkred !important;
		}

		.entry-content {
			color: $lightgray;

			.entry-title {

				.entry-title-link {
					color: $light;
				}
			}

			.entry-featured-image {
				position: relative;

				@media only screen and (min-width: $responsive1) {
					float: left;
					margin: 0 2% 0 0;
				}
			}

			a {
				color: $lightgray;
			}

		} // End of .entry-content

	}

.byline,
.updated {
	@include hide();
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: $vspacing 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}



/**
 * Home Page
 */
.home {

	.content-area {
		max-width: 100%;
		font-size: $h4;
	}
}

.mybu {
	background-color: $budarkgray;
	box-sizing: initial;
	padding: 0.5em;
}

/**
 * Fullwidth Template
 */
.fullwidth {
	max-width: 100%;
}



/**
 * Pages
 */
.page-header {
	margin-bottom: $vspacing;	
}

.archive .entry-title {
	font-size: $h2;
}

.archive article {
	margin-bottom: $vspacing;
}

.page-content {

	.widget {
		color: $budarkgray;
	}

	.widget_recent_entries > ul > li > a {
		color: $budarkred;
	}
}