/* =Header
----------------------------------------------- */

.site-header {
	
	@media all and (min-width: $responsive1) {
		padding: 0.75em;
		margin-bottom: $vspacing;
	}

	.site-branding {
		margin: 0 auto;
		height: 15em;

		@include imagebg ( $vertlogo, "", no-repeat, center, center, contain );

		@media all and (min-width: $responsive1) {
			height: 80px;
			@include imagebg ( $headerbg, "", no-repeat, center, center, contain );
		}

		.site-title {
			@include hide();
		}

		.site-logo {
			@include hide();
		}

		.site-description {
			@include hide();
		} // End of .site-description

	} // End of .site-branding

} // End of .site-header