.single-post {

	.post {
		border: none;
		margin: 0 0 3em 0 !important;
		padding: 0;
	}

	.entry-header {
		

		.entry-title {
			float: left;
			color: $budarkred;
			font-weight: bold;
			text-transform: uppercase;
		}

		.entry-meta {
			display: inline-block;
		}

		.entry-date {
		}

	}

	.form-allowed-tags {
		font-size: 0.9em;

		code {
			font-size: 0.9em;
		}
	}


}