/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 $vspacing;
	color: $light;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
	.widget-title {
		text-align: center;
		color: $light;
		line-height: 1em;
		margin: 0.3em;
		font-size: 1.7em;
		text-transform: uppercase;
		font-family: museo_slab500;
	}

	/* Search widget */
	.widget_search {

		.search-submit {
			@include hide();
		}

		.search-field {
			max-width: 100%;
		}
	}
}

.widget_recent_entries {
	ul {
		list-style: none;
		margin: 0;

		li {
			margin-bottom: 0.75em;

			a {
				text-decoration: none;
				color: $light;
			}
		}
	}
}

.widget_search {
	.search-submit {
		@include hide();
	}
}

.widget_categories,
.widget_archive {
	select {
		margin: 0;
	}
}